<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Choose Package</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../static/styles.css" th:href="@{/styles.css}" />
</head>
<body>
	<h1>Choose a Package</h1>
	<table>
		<tr>
			<th>     </th>
			<th>Event</th>
			<th>Items</th>
			<th>     </th>
			<th>Bouquet</th>
			
		</tr>
		<tr th:each="package : ${packages}">
				<input type="hidden" id="package_id" value="${package.id}"></input>
				<td th:text="${package.id}">ID</td>
				<td th:text="${package.eventName}">Event</td>
				<td th:each="item : ${package.items}"
				 th:text="${item.name}"> ITEMS</td>
				<td th:each="flower : ${package.bouquet.flowers}"
				th:text="${flower.name}"> BOUQUET</td>
				<td>				
				<form action="/displayAllFlowers" method="get" id="choosepackage">
				<input type="submit" value="SELECT"></input>
				</form>
				</td>
		</tr>
	</table>
	
	<p>
		<form action="/submitPage.php" method="post">
 	    <button name="subject" type="submit" value="fav_HTML">SUBMIT</button>
		</form>
		</p>
</body>
</html>