<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../static/styles.css" th:href="@{/styles.css}" />
</head>
<body>
	<h1>Create your own custom package</h1>
	
	<table>
		
		<tr th:each="item : ${items}">
				<input type="hidden" id="package_id" value="${package.id}"></input>
				<td th:text="${item.name}"></td>
				
		</tr>
	</table>
	
</body>
</html>