<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>One Person</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../static/styles.css" th:href="@{/styles.css}" />
</head>
<body>
	<h1 th:text="${flower.id}">Flower's ID</h1>
	<h1 th:text="${flower.name}">Flower's Name</h1>
	<h1 th:text="${flower.price}">Flower's Price</h1>
	<h1 th:text="${flower.colour}">Flower's Colour</h1>
</body>
</html>
