<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../static/styles.css" th:href="@{/styles.css}" />
</head>
<body>
	<p>Phillie's Flowers</p>
	
	<p>
	<form action="/choosePackage.php" method="get" id="form1">
	<input type="submit" form="form1" value="Browse Packages"></input>
	</form>
	</p>
	
	<p>
	<form action="/choosePackage.php" method="get" id="form1">
	<input type="submit" form="form1" value="Create custom Package"></input>
	</form>
	</p>
	
</body>
</html>